<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="Bootstrap.php"
        >
    <testsuites>
        <testsuite name="Proxposer Repository Manager Test Suite">
            <directory>./RepositoryManagerTest</directory>
        </testsuite>
    </testsuites>
</phpunit>